@import url("../fonts/icon-fonts/style.css");

@font-face {
	font-family: 'Proxima-black';
	src: url(../fonts/proximanova_black.ttf);
}

@font-face {
	font-family: 'Proxima-regular';
	src: url(../fonts/proximanova_regular.ttf);
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url(../fonts/Poppins-Bold.ttf)
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

html {
	height: 100%
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body {
	color: black;
	font-family: 'Proxima-regular';
}

.container {
	display: flex;
	width: 100%;
	padding: 0px 105px;
}

.header {

	&__bottom {
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__right {
		display: flex;
		flex-grow: 1;
		justify-content: flex-end;
	}

	&__top {
		display: flex;
		height: 69px;
		align-items: center;
	}
}

.header-logo {}

.icon-arrow-down {
	font-size: 6px;
	margin-right: 6px;
	margin-left: 2px;
}

.icon-cart_2 {
	margin-right: 30px;
	margin-left: 30px;
}

.cart-counter {
	position: absolute;
	top: 15px;
	right: 256px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 16px;
	height: 16px;
	font-size: 11px;
	background: #FB7181;
	border: 2px solid #FFFFFF;
	border-radius: 15px;
}

.icon-profile_close_2 {
	margin-right: 4px;
}

.icon-search-icon {
	margin-left: 6px;
}

#Items {
	margin-right: 30px;
}

@media screen and (max-width:600px) {
	.header__left {
		display: none;
	}
}