@import url("../fonts/icon-fonts/style.css");

@font-face {
	font-family: 'Proxima-black';
	src: url(../fonts/proximanova_black.ttf);
}

@font-face {
	font-family: 'Proxima-regular';
	src: url(../fonts/proximanova_regular.ttf);
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url(../fonts/Poppins-Bold.ttf)
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url(../fonts/Poppins-Medium.ttf)
}

$myBlack: #262626;
$myBlue: #40BFFF;
$myRed: #FB7181;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

html {
	height: 100%
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body {
	color: $myBlack;
	font-family: 'Proxima-regular';
}

.container {

	display: flex;
	width: 100%;
	padding: 0px 105px;
}

.header {

	&__bottom {
		font-family: 'Poppins-Medium';
		display: flex;
		height: 44px;
		padding: 26px 0px;
	}

	&__left {
		display: flex;
		align-items: center;

	}

	&__right {
		height: 100%;
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: flex-end;
	}

	&__top {
		display: flex;
		height: 69px;
		align-items: center;
		font-size: 20px;
		border-bottom: solid 2px #FAFAFB;
	}
}

.menu {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 5px 0px;


		.menu__link {
			font-size: 24px;
			margin: 3px 0px 3px 100px;
			transition: 0.2s;


			&:hover {
				color: $myRed;
				transition: 0.2s;
			}

			.active {
				color: $myBlue;
			}

		}
	}

	&__link {}
}

.header-logo {
	font-family: 'Poppins-Bold';
	font-size: 18px;
	height: 100%;
	display: flex;
	align-items: center;
	;

	&__logo {
		width: 44px;
		height: 100%;
		background-image: url("/icon-fonts/Icon.svg");
		background-size: cover;
		margin-right: 8px;
	}
}

.icon-arrow-down {
	font-size: 6px;
	margin-right: 6px;
	margin-left: 2px;
}

.icon-cart_2 {
	font-size: 20px;
	margin-right: 30px;
	margin-left: 30px;
}

.cart-counter {
	position: absolute;
	top: 15px;
	right: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	width: 18px;
	height: 18px;
	font-size: 10px;
	background: $myRed;
	border: 2px solid #FFFFFF;
	border-radius: 15px;
	font-family: 'Poppins-Bold';
}

.icon-profile_close_2 {
	margin-right: 4px;
}

.icon-search-icon {
	margin-left: 6px;
}

#Items {
	margin-right: 30px;
}

.menu-button {
	display: none;
	position: relative;
	height: 30px;
	width: 30px;

	&__line {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 2px;
		background-color: $myBlack;
	}

	.line-top {
		top: 30%;

		&.active {
			top: 50%;
			rotate: 45deg;
		}
	}

	.line-bottom {
		top: 70%;
		transition: 0.1s;

		&.active {
			top: 50%;
			rotate: -45deg;

		}
	}

	.line-center.active {
		display: none;

	}
}







@media screen and (max-width:660px) {
	.header__left {
		display: none;
	}

	.container {
		padding: 0px 20px;
	}

	.cart-counter {
		right: 195px;
	}


}

@media screen and (max-width: 1280px) {
	.header__right {
		.menu {
			display: none;
		}

		.menu-button {
			display: block;
		}
	}


}